@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* .section {
    margin: 50px 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .section.active {
    opacity: 1;
    transform: translateX(0);
  } */
.box.active, .box-bg.active {
  opacity: 1;
  transform: translateX(0);
}